.clear-button {
  display: flex;
  width: 25px;
  height: 25px;
  background-image: url("../img/x.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: center;
  background-position-y: center; }
