.load-profile-button {
  display: flex;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 85%;
  background-position-x: 2px;
  background-position-y: 2px;
  background-image: url("../img/person-plus-fill.svg"); }
