.roll-button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: large;
}

.export-button {
  display: flex;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 85%;
  background-position-x: 2px;
  background-position-y: 2px;
  background-image: url('../img/download.svg');
}

.drop-down-label {
  font-size: large;
}

select {
  height: 30px;
  margin: auto 0;
}
