.roll-button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: large;
}

.drop-down-label {
  font-size: large;
}

select {
  height: 30px;
  margin: auto 0;
}
