@mixin graph-comparison-button {
    display: flex;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-x: 2px;
    background-position-y: 2px;
}

.graph-comparison-button-add {
    background-image: url('../img/clipboard-plus.svg');
    @include graph-comparison-button();
}

.graph-comparison-button-compare {
    background-image: url('../img/clipboard-data.svg');
    @include graph-comparison-button();
}

.roll-button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: large;
}

.drop-down-label {
  font-size: large;
}

select {
  height: 30px;
  margin: auto 0;
}

.popover-button {
    display: flex;
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-x: 2px;
    background-position-y: 2px;
    background-image: url('../img/question-circle.svg');
}
