$faction-img-size: 30px;

@mixin faction-img {
    height: $faction-img-size;
    width: $faction-img-size;
}

.rebel-faction-img {
    content: url('../img/faction/Rebel.png');
    @include faction-img();
}

.empire-faction-img {
    content: url('../img/faction/Empire.png');
    @include faction-img();
}

.republic-faction-img {
    content: url('../img/faction/Republic.png');
    @include faction-img();
}

.separatist-faction-img {
    content: url('../img/faction/Separatist.png');
    @include faction-img();
}

.faction-label {
    padding: 2px;
}

$rank-img-size: 30px;

@mixin rank-img {
    height: $rank-img-size;
    width: $rank-img-size;
}

.commander-rank-img {
    content: url('../img/rank/commander.png');
    @include rank-img();
}

.operative-rank-img {
    content: url('../img/rank/operative.png');
    @include rank-img();
}

.corps-rank-img {
    content: url('../img/rank/corps.png');
    @include rank-img();
}

.specialforces-rank-img {
    content: url('../img/rank/specialforces.png');
    @include rank-img();
}

.support-rank-img {
    content: url('../img/rank/support.png');
    @include rank-img();
}

.heavy-rank-img {
    content: url('../img/rank/heavy.png');
    @include rank-img();
}

.rank-label {
    padding: 2px;
}
