.selection-die {
    display: flex;
    width: 50px;
    height: 50px;
}

@mixin surge-die {
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: center;
    background-position-y: center;
}

.surge-die-normal {
    background-image: url('../img/DefenseSurge.png');
    @include surge-die()
}

.surge-die-dark {
    background-image: url('../img/DefenseSurgeInverted.png');
    @include surge-die()
}
